absl-py==2.1.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
aiohappyeyeballs==2.3.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
aiohttp==3.10.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
aiosignal==1.3.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
alabaster==0.7.16 ; python_version >= "3.9" and python_full_version < "3.11.0"
alphatims==1.0.8 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
anndata==0.10.8 ; python_version >= "3.9" and python_full_version < "3.11.0"
annotated-types==0.7.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
anyio==4.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
array-api-compat==1.7.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
astunparse==1.6.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
async-timeout==4.0.3 ; python_full_version >= "3.9.0" and python_version < "3.11"
attrs==24.2.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
authlib==1.3.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
babel==2.16.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
bandit==1.7.9 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
beautifulsoup4==4.12.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
black==24.8.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
bleach==6.1.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
cachetools==5.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
certifi==2024.7.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
cffi==1.17.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0" and (platform_python_implementation != "PyPy" or implementation_name == "pypy")
cfgv==3.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
click==8.1.7 ; python_version >= "3.9" and python_full_version < "3.11.0"
cloudpickle==3.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version < "3.11.0"
contourpy==1.2.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
coverage[toml]==7.6.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
cryptography==43.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
cycler==0.12.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
darglint==1.8.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
datasets==2.20.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
decorator==5.1.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
defusedxml==0.7.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
dill==0.3.8 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
distlib==0.3.8 ; python_version >= "3.9" and python_full_version < "3.11.0"
dlomix[rltl-report,wandb] @ git+ssh://git@github.com/wilhelm-lab/dlomix.git@ca14395a14d9d9a378183f4d95073dab59df92e1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
dm-tree==0.1.8 ; python_version >= "3.9" and python_full_version < "3.11.0"
docker-pycreds==0.4.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
docutils==0.20.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
dparse==0.6.4b0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
et-xmlfile==1.1.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
fastjsonschema==2.20.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
filelock==3.15.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
flake8-bandit==4.1.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
flake8-bugbear==24.4.26 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
flake8-docstrings==1.7.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
flake8-rst-docstrings==0.3.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
flake8==7.1.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
flatbuffers==24.3.25 ; python_version >= "3.9" and python_full_version < "3.11.0"
fonttools==4.53.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
fpdf==1.7.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
frozenlist==1.4.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
fsspec==2024.5.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
fsspec[http]==2024.5.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
gast==0.6.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
gitdb==4.0.11 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
gitpython==3.1.43 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
google-auth-oauthlib==1.2.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
google-auth==2.33.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
google-pasta==0.2.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
grpcio==1.65.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
h11==0.14.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
h5py==3.11.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
huggingface-hub==0.24.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
identify==2.6.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
idna==3.7 ; python_version >= "3.9" and python_full_version < "3.11.0"
imagesize==1.4.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
importlib-metadata==8.2.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_version < "3.10"
iniconfig==2.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
jinja2==3.1.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
job-pool==0.2.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
joblib==1.4.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
jsonschema-specifications==2023.12.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
jsonschema==4.23.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
jupyter-client==8.6.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
jupyter-core==5.7.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
jupyterlab-pygments==0.3.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
keras==2.15.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_full_version < "3.11.0"
libclang==18.1.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
llvmlite==0.43.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
lxml==5.2.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
markdown-it-py==3.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
markdown==3.6 ; python_version >= "3.9" and python_full_version < "3.11.0"
markupsafe==2.1.5 ; python_version >= "3.9" and python_full_version < "3.11.0"
marshmallow==3.21.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
matplotlib==3.9.1.post1 ; python_version >= "3.9" and python_full_version < "3.11.0"
mccabe==0.7.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mdurl==0.1.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mistune==3.0.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
ml-dtypes==0.3.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
moepy==1.1.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mokapot==0.10.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
multidict==6.0.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
multiprocess==0.70.16 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mypy==1.11.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
natsort==8.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
nbclient==0.10.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
nbconvert==7.16.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
nbformat==5.10.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
nodeenv==1.9.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
numba==0.60.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
numpy==1.24.4 ; python_version >= "3.9" and python_version < "3.11"
nvidia-cublas-cu12==12.2.5.6 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cuda-cupti-cu12==12.2.142 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cuda-nvcc-cu12==12.2.140 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cuda-nvrtc-cu12==12.2.140 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cuda-runtime-cu12==12.2.140 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cudnn-cu12==8.9.4.25 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cufft-cu12==11.0.8.103 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-curand-cu12==10.3.3.141 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cusolver-cu12==11.5.2.141 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-cusparse-cu12==12.1.2.141 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-nccl-cu12==2.16.5 ; python_version >= "3.9" and python_full_version < "3.11.0"
nvidia-nvjitlink-cu12==12.2.140 ; python_version >= "3.9" and python_full_version < "3.11.0"
oauthlib==3.2.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
openpyxl==3.1.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
opt-einsum==3.3.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
packaging==24.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
pandas==2.2.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
pandocfilters==1.5.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pathspec==0.12.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pbr==6.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pep8-naming==0.14.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pillow==10.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
platformdirs==4.2.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
pluggy==1.5.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pre-commit-hooks==4.6.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pre-commit==3.8.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
protobuf==4.25.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
psutil==6.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyarrow-hotfix==0.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyarrow==17.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyasn1-modules==0.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyasn1==0.6.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
pycodestyle==2.12.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pycparser==2.22 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0" and (platform_python_implementation != "PyPy" or implementation_name == "pypy")
pydantic-core==2.20.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pydantic==2.8.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pydocstyle==6.3.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyflakes==3.2.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pygments==2.18.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
pymzml==2.5.10 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyparsing==3.1.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyteomics==4.7.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pytest==8.3.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version < "3.11.0"
python-rapidjson==1.20 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pytz==2024.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyupgrade==3.17.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyzmq==26.1.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyzstd==0.16.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
referencing==0.35.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
regex==2024.7.24 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
requests-oauthlib==2.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
requests==2.32.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
restructuredtext-lint==1.4.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
rich==13.7.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
rpds-py==0.20.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
rsa==4.9 ; python_version >= "3.9" and python_full_version < "3.11.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_full_version < "3.11.0" and python_full_version >= "3.9.0"
ruamel-yaml==0.18.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
safety-schemas==0.0.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
safety==3.2.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
scikit-learn==1.5.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
scipy==1.13.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
seaborn==0.13.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sentry-sdk==2.12.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
setproctitle==1.3.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
setuptools==72.1.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
shellingham==1.5.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
smmap==5.0.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sortedcontainers==2.4.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
soupsieve==2.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
spectrum-fundamentals @ git+ssh://git@github.com/wilhelm-lab/spectrum_fundamentals.git@30f90711df5deefe27298dfe52ad884e54479e0f ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
spectrum-io==0.6.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sphinx-autobuild==2024.4.16 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinx-autodoc-typehints==2.2.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinx-click==6.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sphinx-rtd-theme==2.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sphinx==7.4.7 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-jquery==4.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
starlette==0.38.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
stevedore==5.2.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tensorboard-data-server==0.7.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorboard==2.15.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow-cpu-aws==2.15.1 ; platform_system == "Linux" and (platform_machine == "arm64" or platform_machine == "aarch64") and python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow-estimator==2.15.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow-intel==2.15.1 ; python_version >= "3.9" and python_full_version < "3.11.0" and platform_system == "Windows"
tensorflow-io-gcs-filesystem==0.37.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow-probability==0.24.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow==2.15.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
tensorflow[and-cuda]==2.15.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
termcolor==2.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
tinycss2==1.3.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tokenize-rt==6.0.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tornado==6.4.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tqdm==4.66.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
traitlets==5.14.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
triqler==0.7.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tritonclient[grpc]==2.47.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
typeguard==4.3.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
typer==0.12.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
types-attrs==19.1.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
types-requests==2.32.0.20240712 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
urllib3==2.2.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
uvicorn==0.30.5 ; python_version >= "3.9" and python_full_version < "3.11.0"
virtualenv==20.26.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
wandb==0.17.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
watchfiles==0.23.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
webencodings==0.5.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
websockets==12.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
werkzeug==3.0.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
wheel==0.44.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
wrapt==1.14.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
xdoctest[colors]==1.1.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
xxhash==3.4.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
yarl==1.9.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
zipp==3.19.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
