alabaster==0.7.13 ; python_version >= "3.8" and python_full_version < "3.11.0"
alphatims==1.0.8 ; python_version >= "3.8" and python_full_version < "3.11.0"
anndata==0.10.5.post1 ; python_version >= "3.9" and python_full_version < "3.11.0"
attrs==23.2.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
authlib==1.3.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
babel==2.14.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
bandit==1.7.8 ; python_version >= "3.8" and python_full_version < "3.11.0"
black==24.3.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
blosc2==2.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
certifi==2024.2.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
cffi==1.16.0 ; python_version >= "3.8" and python_full_version < "3.11.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
click==8.1.7 ; python_version >= "3.8" and python_full_version < "3.11.0"
colorama==0.4.6 ; python_version >= "3.8" and python_full_version < "3.11.0"
contourpy==1.1.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
coverage[toml]==7.4.4 ; python_version >= "3.8" and python_full_version < "3.11.0"
cryptography==42.0.5 ; python_version >= "3.8" and python_full_version < "3.11.0"
cycler==0.12.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
cython==3.0.9 ; python_version >= "3.8" and python_full_version < "3.11.0"
darglint==1.8.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
distlib==0.3.8 ; python_version >= "3.8" and python_full_version < "3.11.0"
docutils==0.20.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
dparse==0.6.4b0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
et-xmlfile==1.1.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
exceptiongroup==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.13.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
flake8-bandit==4.1.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
flake8-bugbear==23.3.12 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
flake8-docstrings==1.7.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
flake8-rst-docstrings==0.3.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
flake8==5.0.4 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
fonttools==4.50.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
grpcio==1.62.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
h5py==3.10.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
identify==2.5.35 ; python_version >= "3.8" and python_full_version < "3.11.0"
idna==3.6 ; python_version >= "3.8" and python_full_version < "3.11.0"
imagesize==1.4.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
importlib-metadata==7.1.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
importlib-resources==6.4.0 ; python_version >= "3.8" and python_version < "3.10"
iniconfig==2.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
jinja2==3.1.3 ; python_version >= "3.8" and python_full_version < "3.11.0"
job-pool==0.2.6 ; python_version >= "3.8" and python_full_version < "3.11.0"
joblib==1.3.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
kiwisolver==1.4.5 ; python_version >= "3.8" and python_full_version < "3.11.0"
livereload==2.6.3 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
llvmlite==0.41.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
lxml==4.9.4 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
markdown-it-py==3.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
markupsafe==2.1.5 ; python_version >= "3.8" and python_full_version < "3.11.0"
marshmallow==3.21.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
matplotlib==3.7.5 ; python_version >= "3.8" and python_full_version < "3.11.0"
mccabe==0.7.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
mdurl==0.1.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
moepy==1.1.4 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
mokapot==0.9.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
msgpack==1.0.8 ; python_version >= "3.8" and python_full_version < "3.11.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
mypy==1.9.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
nodeenv==1.8.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
numba==0.58.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
numexpr==2.8.6 ; python_version >= "3.8" and python_full_version < "3.11.0"
numpy==1.24.4 ; python_version >= "3.8" and python_full_version < "3.11.0"
openpyxl==3.1.2 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
packaging==24.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pandas==1.5.3 ; python_version >= "3.8" and python_full_version < "3.11.0"
pathspec==0.12.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
pbr==6.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pep8-naming==0.13.3 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pillow==10.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
platformdirs==4.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pluggy==1.4.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pre-commit-hooks==4.5.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pre-commit==3.5.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
protobuf==3.20.3 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
psutil==5.9.8 ; python_version >= "3.8" and python_full_version < "3.11.0"
py-cpuinfo==9.0.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pycodestyle==2.9.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pycparser==2.21 ; python_version >= "3.8" and python_full_version < "3.11.0" and platform_python_implementation != "PyPy"
pydantic==1.10.14 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pydocstyle==6.3.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pyflakes==2.5.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pygments==2.17.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
pymzml==2.5.6 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pyparsing==3.1.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
pyteomics==4.7.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pytest==8.1.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_full_version < "3.11.0"
python-rapidjson==1.16 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
pytz==2024.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
pyupgrade==3.8.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
pyyaml==6.0.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
pyzstd==0.15.10 ; python_version >= "3.8" and python_full_version < "3.11.0"
regex==2023.12.25 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
requests==2.31.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
restructuredtext-lint==1.4.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
rich==13.7.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_full_version < "3.11.0" and python_version >= "3.8"
ruamel-yaml==0.18.6 ; python_version >= "3.8" and python_full_version < "3.11.0"
safety-schemas==0.0.2 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
safety==3.0.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
scikit-learn==1.3.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
scipy==1.10.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
seaborn==0.12.2 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
setuptools==69.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
six==1.16.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
sortedcontainers==2.4.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
spectrum-fundamentals==0.5.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
spectrum-io==0.4.2 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
sphinx-autobuild==2021.3.14 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
sphinx-autodoc-typehints==1.25.3 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinx-click==5.1.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinx-rtd-theme==2.0.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
sphinx==7.1.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-jquery==4.1 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_full_version < "3.11.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_full_version < "3.11.0"
stevedore==5.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
tables==3.8.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
threadpoolctl==3.4.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
tokenize-rt==5.2.0 ; python_version >= "3.8" and python_full_version < "3.11.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
tornado==6.4 ; python_version >= "3.8" and python_full_version < "3.11.0"
tqdm==4.66.2 ; python_version >= "3.8" and python_full_version < "3.11.0"
triqler==0.7.3 ; python_version >= "3.8" and python_full_version < "3.11.0"
tritonclient[grpc]==2.36.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
typeguard==4.2.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
typer==0.10.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
types-attrs==19.1.0 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
types-pkg-resources==0.1.3 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
types-requests==2.31.0.20240311 ; python_version >= "3.8" and python_full_version < "3.11.0"
typing-extensions==4.10.0 ; python_version >= "3.8" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
virtualenv==20.25.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
xdoctest[colors]==1.1.3 ; python_full_version >= "3.8.0" and python_full_version < "3.11.0"
zipp==3.18.1 ; python_version >= "3.8" and python_full_version < "3.11.0"
