alphatims==1.0.8 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
anndata==0.10.8 ; python_version >= "3.9" and python_full_version < "3.11.0"
array-api-compat==1.8 ; python_version >= "3.9" and python_full_version < "3.11.0"
bottleneck==1.4.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
click==8.1.7 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
colorama==0.4.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0" and platform_system == "Windows"
contourpy==1.2.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
cycler==0.12.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
cython==3.0.11 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
fonttools==4.53.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
grpcio==1.65.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
h5py==3.11.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
importlib-metadata==8.2.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_version < "3.10"
job-pool==0.2.6 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
joblib==1.4.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_full_version < "3.11.0"
llvmlite==0.42.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
lxml==5.2.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
markdown-it-py==3.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
matplotlib==3.9.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
mdurl==0.1.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
moepy==1.1.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
mokapot==0.10.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
natsort==8.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
networkx==2.8.8 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
numba==0.59.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
numpy==1.24.4 ; python_version >= "3.9" and python_full_version < "3.11.0"
packaging==24.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
pandas==1.5.3 ; python_version >= "3.9" and python_full_version < "3.11.0"
picked-group-fdr==0.7.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pillow==10.4.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
protobuf==4.25.4 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
psutil==6.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyarrow==17.0.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pygments==2.18.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pymzml==2.5.10 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyparsing==3.1.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyteomics==4.7.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version < "3.11.0"
python-rapidjson==1.20 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pytz==2024.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
pyyaml==6.0.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
pyzstd==0.16.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
regex==2024.7.24 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
rich==13.7.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
scikit-learn==1.5.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
scipy==1.13.1 ; python_version >= "3.9" and python_full_version < "3.11.0"
seaborn==0.13.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
sortedcontainers==2.4.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
spectrum-fundamentals==0.6.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
spectrum-io==0.5.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_full_version < "3.11.0"
toml==0.10.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tqdm==4.66.5 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
triqler==0.7.3 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
tritonclient[grpc]==2.47.0 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
urllib3==2.2.2 ; python_full_version >= "3.9.0" and python_full_version < "3.11.0"
zipp==3.19.2 ; python_version >= "3.9" and python_full_version < "3.11.0"
