APP_MODE=local
HOST_MOUNT=okt-data
CONTAINER_DATA_DIR=/app/data
DATA_DIR=./data
DATABASE_URL=sqlite:///./data/app.db
REDIS_URL=redis://localhost:6379/0
PREDICTION_SERVER=koina.wilhelmlab.org:443
MAX_UPLOAD_BYTES=5000000000
CORS_ORIGINS=*
EXECUTION_BACKEND=local
CELERY_CONCURRENCY=1
APP_UID=1491800167
APP_GID=1491800167