@import "basic.css";

.wy-nav-content {
    max-width: 1200px;
}

.wy-side-nav-search {
    background-color: inherit;
}

table.align-default {
    text-align: left;
}

.fixed-table th:first-child,
.fixed-table td:first-child,
.autosummary th:first-child,
.autosummary td:first-child {
    min-width: 250px;
}

.autosummary th:first-child,
.autosummary td:first-child {
    min-width: 400px;
}

.fixed-table th:last-child,
.fixed-table td:last-child,
.autosummary th:last-child,
.autosummary td:last-child {
    width: 100%;
}

.fixed-table {
    margin-left: 0;
}

.wy-table-responsive table th p,
.wy-table-responsive table td p {
    white-space: normal;
}

.autosummary {
    margin-left: 0 !important;
}

.main-config-table tbody tr:nth-child(n + 4):nth-child(-n + 5) td:nth-child(1) {
    padding-left: 50px;
}

.main-config-table tbody tr:nth-child(n + 7):nth-child(-n + 7) td:nth-child(1) {
    padding-left: 50px;
}

.lib-rescore-config-table
    tbody
    tr:nth-child(n + 2):nth-child(-n + 5)
    td:nth-child(1) {
    padding-left: 50px;
}

.lib-rescore-config-table tbody tr:nth-last-child(-n + 2) td:nth-child(1) {
    padding-left: 50px;
}

.lib-config-table tbody tr:nth-child(n + 2):nth-child(-n + 3) td:nth-child(1) {
    padding-left: 50px;
}

.lib-config-table tbody tr:nth-last-child(-n + 6) td:nth-child(1) {
    padding-left: 50px;
}

.digest-config-table tbody tr:not(:first-child) td:nth-child(1) {
    padding-left: 50px;
}

.date {
    font-size: 50%;
}
